.contact-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dust-dark);
}
.contact-page-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.contact-page-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: var(--dl-color-dust-dark);
}
.contact-page-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-page-home {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-page-link {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-page-link1 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.contact-page-link2 {
  color: var(--dl-color-gray-900);
  text-decoration: none;
}
.contact-page-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-icon {
  width: 36px;
  height: 36px;
}
.contact-page-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-icon02 {
  width: 36px;
  height: 36px;
}
.contact-page-burger-menu2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-icon04 {
  width: 36px;
  height: 36px;
}
.contact-page-burger-menu3 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-icon06 {
  width: 36px;
  height: 36px;
}
.contact-page-burger-menu4 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-icon08 {
  width: 36px;
  height: 36px;
}
.contact-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.contact-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.contact-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-icon10 {
  width: 24px;
  height: 24px;
}
.contact-page-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-link3 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-page-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-page-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-page-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-dust-dark);
}
.contact-page-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-page-container2 {
  width: 100%;
  height: 776px;
  display: flex;
  z-index: 100;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0x;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-dust-dark);
}
.contact-page-hero {
  width: 100%;
  height: 665px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: var(--dl-color-dust-dark);
}
.contact-page-hero-text-container {
  width: 464px;
  height: 517px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-page-heading1 {
  color: #dedbdb;
  font-size: 48px;
  font-family: Overpass;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.contact-page-text01 {
  color: #cecccc;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.contact-page-cta-btn-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.contact-page-link7 {
  display: contents;
}
.contact-page-image {
  top: -31px;
  left: 420px;
  width: 567px;
  height: 540px;
  position: absolute;
  align-self: center;
  object-fit: contain;
  text-decoration: none;
}
.contact-page-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-page-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.contact-page-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .contact-page-heading {
    text-align: center;
  }
  .contact-page-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-page-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .contact-page-text01 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .contact-page-navbar {
    position: relative;
  }
  .contact-page-links-container {
    display: none;
  }
  .contact-page-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-page-icon {
    fill: var(--dl-color-gray-white);
  }
  .contact-page-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-page-icon02 {
    fill: var(--dl-color-gray-white);
  }
  .contact-page-burger-menu2 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-page-icon04 {
    fill: var(--dl-color-gray-white);
  }
  .contact-page-burger-menu3 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-page-icon06 {
    fill: var(--dl-color-gray-white);
  }
  .contact-page-burger-menu4 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .contact-page-icon08 {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .contact-page-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .contact-page-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .contact-page-burger-menu2 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .contact-page-burger-menu3 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .contact-page-burger-menu4 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .contact-page-hero-text-container {
    width: 100%;
  }
}
