.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dust-dark);
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: var(--dl-color-dust-dark);
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link1 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link2 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link3 {
  color: var(--dl-color-gray-900);
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-dust-dark);
}
.home-container1 {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0x;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-dust-dark);
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: var(--dl-color-dust-dark);
}
.home-hero-text-container {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: #dedbdb;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text {
  color: #cecccc;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-cta-btn-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  display: flex;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: 54px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 56px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #c9c9c9;
}
.home-text4 {
  color: #101010;
}
.home-cta-btn1 {
  color: var(--dl-color-gray-white);
  width: 173px;
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: 56px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #c9c9c9;
}
.home-text5 {
  color: #101010;
}
.home-image {
  width: 447px;
  height: 420px;
  object-fit: contain;
}
@media(max-width: 991px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading {
    text-align: center;
  }
  .home-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-cta-btn {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-cta-btn1 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-hero-text-container {
    width: 100%;
  }
}
