.resume-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-dust-dark);
}
.resume-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.resume-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: var(--dl-color-dust-dark);
}
.resume-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.resume-link {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resume-link1 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resume-link2 {
  color: var(--dl-color-gray-900);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.resume-link3 {
  color: var(--dl-color-gray-900);
  text-decoration: none;
}
.resume-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.resume-icon {
  width: 36px;
  height: 36px;
}
.resume-burger-menu1 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.resume-icon02 {
  width: 36px;
  height: 36px;
}
.resume-burger-menu2 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.resume-icon04 {
  width: 36px;
  height: 36px;
}
.resume-burger-menu3 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.resume-icon06 {
  width: 36px;
  height: 36px;
}
.resume-burger-menu4 {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.resume-icon08 {
  width: 36px;
  height: 36px;
}
.resume-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.resume-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.resume-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resume-icon10 {
  width: 24px;
  height: 24px;
}
.resume-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resume-link4 {
  margin-bottom: var(--dl-space-space-unit);
}
.resume-link5 {
  margin-bottom: var(--dl-space-space-unit);
}
.resume-link6 {
  margin-bottom: var(--dl-space-space-unit);
}
.resume-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-dust-dark);
}
.resume-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resume-container2 {
  width: 100%;
  height: 1256px;
  display: flex;
  z-index: 100;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0x;
  border-radius: var(--dl-radius-radius-radius2);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-dust-dark);
}
.resume-image {
  width: 970px;
  height: 1176px;
  object-fit: cover;
}
.resume-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resume-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.resume-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 991px) {
  .resume-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .resume-navbar {
    position: relative;
  }
  .resume-links-container {
    display: none;
  }
  .resume-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .resume-icon {
    fill: var(--dl-color-gray-white);
  }
  .resume-burger-menu1 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .resume-icon02 {
    fill: var(--dl-color-gray-white);
  }
  .resume-burger-menu2 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .resume-icon04 {
    fill: var(--dl-color-gray-white);
  }
  .resume-burger-menu3 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .resume-icon06 {
    fill: var(--dl-color-gray-white);
  }
  .resume-burger-menu4 {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .resume-icon08 {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .resume-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .resume-burger-menu1 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .resume-burger-menu2 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .resume-burger-menu3 {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .resume-burger-menu4 {
    margin-left: var(--dl-space-space-doubleunit);
  }
}
